--index-url https://pypi.python.org/simple/

setuptools
# workaround bug https://stackoverflow.com/questions/34869597/wikipedia-api-for-python
git+https://github.com/lucasdnd/Wikipedia.git
twython
pyOpenSSL
ndg-httpsclient
pyasn1
